{% extends "padre.html" %}

    {% block central %}
        <section>
            <h2>Datos del usuario</h2>
            <p>Nombre de Usuario: {{user.username}} </p>
            <p>Nombre y Apellidos: {{ user.nombre }} {{ user.apellidos }} </p>
            <p>Email: {{ user.email }}</p>
            <p>DNI: {{ user.DNI }}</p>
            <p>Teléfono: {{ user.telefono }}</p>
            <p>Nacido el {{ user.fecha_nacimiento }}</p>
            <p>Usuario desde el {{ user.fecha_registro }}</p>
            <p>Rol: {{ user.rol }}</p>

            <h2>Acciones posibles</h2>
            <p><a href="edicionPerfil.php">Editar datos personales</a></p>

            {% if user.rol == 'superusuario' %}
            <p><a href="edicionRoles.php">Editar roles</a></p>
            {% endif %}

            {% if user.rol == 'superusuario' or user.rol == 'moderador' %}
            <p><a href="listadoComentarios.php">Listar comentarios</a></p>
            {% endif %}

            {% if user.rol == 'superusuario' or user.rol == 'gestor' %}
            <p><a href="listadoProductos.php">Listar productos</a></p>
            <p><a href="creacionProducto.php">Crear producto</a></p>
            {% endif %}

            <p><a href="index.php">Volver a la portada</a></p>

        </section>
    {% endblock %}