/*Comunes a los html */


/*********Parte cabecera********************/

.flexcabecera{
  margin-top: 20px;
  display:flex;
}

#login input{
  font-size: 12px;
  flex: 3;
  display: table-row;
}
#login label { display: table-row; font-size: 16px;}
#login p{margin:10px;}


#centrocabecera
{
  margin-left: 1%;
  flex: 10;
}

img.cabecera {
  flex: 7;
  width: 150px;
  margin: 5px;
}

header{
  margin-left: 20px;
  margin-right:20px;
  border-bottom: 1px solid black;
}

/**************************************************************************/

section{
  flex:7;
  margin-left: 2%;
}

aside{
  border: 1px solid black;
  flex:3;
  margin-right:20px;
}

.productos{
  width: 100px;
  height: 100px;
}

footer{
  padding-top: 10px
}

aside p
{
  margin-left: 20px;
  margin-top: 20px;
}

.flex{
  margin-top: 20px;
  display:flex;
}

/* Portada.html */

.wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  /*grid-template-rows: 135px 135px 135px; no funciona*/
  grid-gap: 20px;
}

.box {
  padding: 10px;
  border: 1px solid black;
}

/* Producto.html - Producto_imprimir tiene muchas cosas en común */

section.producto{
  border: 1px solid black;
  margin-right: 50px;
  padding: 15px;
}

.botonsocial
{
  float:left;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

#caja_imagenes_producto{
  float: right;
  width: 130px;
}

.imagen_producto{
  height: 130px;
  width: 130px;
  margin-top: 10px;
}

/*******************************Practica2**************************************/

#botoncomentarios{
  margin: 5%;
  width: 140px;
  height: 40px;
  font-size: 125%;
}

#comentarios
{
  flex:4;
  display: none; /*Por defecto aparecen los comentarios*/
  border: 1px solid black;
}

.comentario {
    margin: 2%;
    border: 1px solid black;
}

.fechayhora{
  font-style: italic;
  display: inline-block;
  margin-left: 20px;
}

.autor{
  font-weight: bolder;
  display: inline-block;
  margin-left: 20px;
}

.textocomentario
{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 20px;
}

.etiquetayentrada
{
  margin: 5px;
  margin-left: 20px;
}

/*sobre el ---.php es la ubicacion relativa*/

#postear_comentario
{
  display: block;
}

#comentario_usuario
{
  display: none;
}

#error{
  margin: 20px;
  color: red;
}

/*******************************Practica4**************************************/

.botoncomentario{
  height: 25px;
  width: 25px;
  display:inline-block;
  margin-right:5px;
  margin-left:5px;
}

#opciones_comentarios{
  margin-right: 10px;
  text-align: right;
}

#opciones_comentarios a:link, #opciones_comentarios a:visited{
  text-decoration: none;
}

#opinion{
    height:75px;
    width: 200px;
    rows: 5;
}

.comentariomoderado
{
  font-style: italic;
  margin-right: 10px;
  margin-left: 20px;
}

.errorinicioregistro
{
  color: red;
}

.producto_comentario{
  font-weight: bolder;
  display: inline-block;
  margin-left: 20px;
}

.etiquetas{
  display: inline-block;
}

.etiquetas p{
  margin-right: 10px;
}

#form-etiquetas{
  /*display: inline-block;*/
}

.form-etiquetas {
  height:20px;
  width: 20px;
}

/*Listado producto*/

.wrapproducto{
  display: flex;
  border: 2px solid black;
}

.foto{
  flex: 1;
}

.foto img{
  width: 72%;
}

.info-lista{
  flex: 3;
}

.negrita{
  font-weight: bold;
}
.imagen-lista{
  width: 70px;
  height: 175px;
}

.producto_buscar{
  margin-top: 20px;
  margin-bottom: 20px;
}

#aniadir_producto{
  height: 50px;
}

#opciones_productos{
  margin-right: 10px;
  text-align: right;
}

#opciones_productos a:link, #opciones_productos a:visited{
  text-decoration: none;
}

.botonproducto{
  height: 25px;
  width: 25px;
  display:inline-block;
  margin:5px;
}

#editar_producto{
  margin:10px;
}

.imagen_editar_producto{
  width: 150px;
  height: 150px;
}